<!-- A very simple arm with an upper arm and a forearm. -->

<robot name="test_robot">
    <link name="ground">
        <visual>
            <geometry>
                <box size="0.2 0.2 0.2"/>
            </geometry>
            <material name="red">
                <color rgba="1 0 0 1"/>
            </material>
            <origin rpy="0 0 0" xyz="0 0 0"/>
        </visual>
    </link>

    <link name="upperarm">
        <visual>
            <geometry>
                <box size="1 0.1 0.1"/>
            </geometry>
            <material name="cyan">
                <color rgba="0 0 1 1"/>
            </material>
            <origin xyz="0.5 0 0"/>
        </visual>
    </link>

    <link name="forearm">
        <visual>
            <geometry>
                <box size="1 0.1 0.1"/>
            </geometry>
            <material name="cyan">
                <color rgba="0 0 1 1"/>
            </material>
            <origin xyz="0.5 0 0"/>
        </visual>
    </link>

    <link name="hand">
        <visual>
            <geometry>
                <box size="0.2 0.2 0.2"/>
            </geometry>
            <material name="red">
                <color rgba="1 0 0 1"/>
            </material>
            <origin rpy="0 0 0" xyz="0 0 0"/>
        </visual>
    </link>

    <joint name="shoulder" type="continuous">
        <parent link="ground"/>
        <child link="upperarm"/>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <axis xyz="0 0 1" />
    </joint>

    <joint name="elbow" type="continuous">
        <parent link="upperarm"/>
        <child link="forearm"/>
        <origin xyz="1 0 0" rpy="0 0 0" />
        <axis xyz="0 0 1" />
    </joint>

    <joint name="hand" type="fixed">
        <parent link="forearm"/>
        <child link="hand"/>
        <origin xyz="1 0 0" rpy="0 0 0" />
    </joint>
</robot>
