<robot name="ground_to_many">
   <link name="ground">
      <visual>
         <geometry>
            <box size="0.1 0.1 0.1"/>
         </geometry>
         <material name="Cyan1">
            <color rgba="0 0.9 0.9 1.0"/>
         </material>
      </visual>
   </link>

   <link name="upperarm">
      <visual>
         <origin xyz="0.5 0 0" rpy="0 0 0"/>
         <geometry>
            <box size="1 0.1 0.1"/>
         </geometry>
         <material name="Cyan1">
            <color rgba="0 0.9 0.9 1.0"/>
         </material>
      </visual>
   </link>

   <link name="forearm">
      <visual>
         <origin xyz="0.5 0 0" rpy="0 0 0"/>
         <geometry>
            <box size="1 0.1 0.085"/>
         </geometry>
         <material name="Cyan1">
            <color rgba="0 0.9 0.9 1.0"/>
         </material>
      </visual>
   </link>

   <link name="forearm2">
      <visual>
         <origin xyz="0.5 0 0" rpy="0 0 0"/>
         <geometry>
            <box size="1 0.1 0.085"/>
         </geometry>
         <material name="Cyan1">
            <color rgba="0 0.9 0.9 1.0"/>
         </material>
      </visual>
   </link>

   <link name="fingertip">
      <visual>
         <origin xyz="0 0 0" rpy="0 0 0"/>
         <geometry>
            <box size="0.15 0.15 0.15"/>
         </geometry>
         <material name="asdsadas">
            <color rgba="1 0.2 0.2 1.0"/>
         </material>
      </visual>
   </link>

   <link name="left-upperarm">
      <visual>
         <origin xyz="0 0 0" rpy="0 0 0"/>
         <geometry>
            <box size="0.15 0.15 0.15"/>
         </geometry>
         <material name="asdsadas">
            <color rgba="1 0.2 0.2 1.0"/>
         </material>
      </visual>
   </link>

   <joint name="elbow" type="continuous">
      <parent link="upperarm"/>
      <child link="forearm"/>
      <origin xyz="1 0 0" rpy="0 0 0" />
      <axis xyz="0 1 0" />
   </joint>

   <joint name="elbow2" type="continuous">
      <parent link="upperarm"/>
      <child link="forearm2"/>
      <origin xyz="1 0 0" rpy="0 0 0" />
      <axis xyz="0 1 0" />
   </joint>

   <joint name="left-shoulder" type="continuous">
      <parent link="ground"/>
      <child link="left-upperarm"/>
      <origin xyz="1 0 0" rpy="0 0 0" />
      <axis xyz="0 1 0" />
   </joint>

   <joint name="shoulder" type="continuous">
      <parent link="ground"/>
      <child link="upperarm"/>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <axis xyz="0.707 0.707 0" />
   </joint>

   <joint name="hand" type="fixed">
      <parent link="forearm"/>
      <child link="fingertip"/>
      <origin xyz="1 0 0" rpy="0 0 0" />
   </joint>
</robot>
