<robot name="test_robot">
   <link name="ground">
      <visual>
         <geometry>
            <box size="0.1 0.1 0.1"/>
         </geometry>
         <material name="Cyan1">
            <color rgba="0 0.9 0.9 1.0"/>
         </material>
      </visual>
   </link>

   <link name="f1">
      <visual>
         <origin xyz="1 0 0" rpy="0 0 0"/>
         <geometry>
            <box size="1 0.1 0.1"/>
         </geometry>
         <material name="Cyan1">
            <color rgba="0 0.9 0.9 1.0"/>
         </material>
      </visual>
   </link>

   <joint name="fixed" type="fixed">
      <parent link="f1"/>
      <child link="ground"/>
      <origin xyz="1 0 0" rpy="0 0 0" />
   </joint>
</robot>
