<!-- An "arm" with two elbows and two forearms connected to one upper arm to test branching. -->

<robot name="test_robot">
    <link name="ground">
        <visual>
            <geometry>
                <box size="0.2 0.2 0.2"/>
            </geometry>
            <material name="red">
                <color rgba="1 0 0 1"/>
            </material>
            <origin rpy="0 0 0" xyz="0.2 0.2 -0.4"/>
        </visual>
    </link>

    <link name="upperarm">
        <visual>
            <geometry>
                <box size="1 0.1 0.1"/>
            </geometry>
            <material name="cyan">
                <color rgba="0 0 1 1"/>
            </material>
            <origin xyz="0.5 0 0"/>
        </visual>
    </link>

    <link name="forearm1">
        <visual>
            <geometry>
                <box size="1 0.1 0.1"/>
            </geometry>
            <material name="cyan">
                <color rgba="0 0 1 1"/>
            </material>
            <origin xyz="0.5 0 0"/>
        </visual>
    </link>

    <link name="hand1">
        <visual>
            <geometry>
                <box size="0.2 0.2 0.2"/>
            </geometry>
            <material name="red">
                <color rgba="1 0 0 1"/>
            </material>
            <origin rpy="0 0 0" xyz="0 0 0"/>
        </visual>
    </link>

    <link name="forearm2">
        <visual>
            <geometry>
                <box size="1 0.1 0.1"/>
            </geometry>
            <material name="cyan">
                <color rgba="0 0 1 1"/>
            </material>
            <origin xyz="0.5 0 0"/>
        </visual>
    </link>

    <link name="hand2">
        <visual>
            <geometry>
                <box size="0.2 0.2 0.2"/>
            </geometry>
            <material name="red">
                <color rgba="1 0 0 1"/>
            </material>
            <origin rpy="0 0 0" xyz="0 0 0"/>
        </visual>
    </link>

    <joint name="shoulder" type="continuous">
        <parent link="ground"/>
        <child link="upperarm"/>
        <origin xyz="0.2 0.2 -0.4" rpy="1 2 3" />
        <axis xyz="0 0 1" />
    </joint>

    <joint name="elbow1" type="continuous">
        <parent link="upperarm"/>
        <child link="forearm1"/>
        <origin xyz="1 0 0" rpy="2 4 6" />
        <axis xyz="0 0 1" />
    </joint>

    <joint name="hand1" type="fixed">
        <parent link="forearm1"/>
        <child link="hand1"/>
        <origin xyz="1 0 0" rpy="0 0 0" />
    </joint>

    <joint name="elbow2" type="continuous">
        <parent link="upperarm"/>
        <child link="forearm2"/>
        <origin xyz="1 0 0" rpy="-2 4 6" />
        <axis xyz="0 0 1" />
    </joint>

    <joint name="hand2" type="fixed">
        <parent link="forearm2"/>
        <child link="hand2"/>
        <origin xyz="1 0 0" rpy="0 0 0" />
    </joint>
</robot>
